include README.md
include LICENSE
include pyproject.toml
recursive-include rfi_pipeline *.py
recursive-exclude test *
recursive-exclude experiments *
recursive-exclude __pycache__ *
global-exclude *.pyc
global-exclude *.pyo
global-exclude *~
